
table, th, td {
    border: 1px solid brown;
    border-collapse: collapse;
    padding: 2px;
    background: cornflowerblue;
}

canvas {
    background: #eee;
    border: 1px;
}

.panels {
}

.panel {
  display: flex;
  border: 1px solid;
  margin: -1px;
}

.options_pane {
  width: 30%;
}

.formula_pane {
  flex-grow: 1;
  margin: 0;
}

.color_button {
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

#bottom { position: fixed; bottom: 0; right: 0;}
